.direction-details {

  agm-map {
    height: 500px;
  }

  mat-card-content > div {
    display: flex;
    justify-content: space-between;
  }

  .mat-card-title-field {
    text-align: center;
  }

  .same-line-div {
    display: flex;
    justify-content: space-between
  }

}
