<mat-card>
  <mat-card-title>Insert email to reset password</mat-card-title>
  <mat-card-content>
    <mat-form-field class="login-form-field">
      <mat-label>Email</mat-label>
      <input matInput matNativeControl [formControl]="emailControl" required>
      <mat-error *ngIf="emailControl.invalid">error</mat-error>
    </mat-form-field>
    <mat-card-actions class="actions">
      <button mat-raised-button color="primary" (click)="sendResetPasswordEmail()">Login</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
