<mat-card>
  <mat-card-title>Change password</mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <mat-label>New password</mat-label>
      <input matInput matNativeControl type="password" [formControl]="newPasswordControl" required>
      <mat-error *ngIf="newPasswordControl.hasError('isNewPasswordDiffersFromCurrent')">New password cannot be same as current</mat-error>
      <mat-error *ngIf="newPasswordControl.hasError('required')">Field cannot be empty</mat-error>
      <mat-error *ngIf="newPasswordControl.hasError('minlength')">Password is too short</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Repeat new password</mat-label>
      <input matInput matNativeControl type="password" [formControl]="repeatNewPasswordControl" required>
      <mat-error *ngIf="repeatNewPasswordControl.hasError('required')">Field cannot be empty</mat-error>
      <mat-error *ngIf="repeatNewPasswordControl.hasError('minlength')">Password is too short</mat-error>
      <mat-error *ngIf="repeatNewPasswordControl.hasError('arePasswordTheSame')">Password are not the same</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="changePassword()">Edit</button>
  </mat-card-content>
</mat-card>
