<mat-card>
  <mat-card-title>Account details</mat-card-title>
  <mat-card-content>
    <mat-card-subtitle>Account</mat-card-subtitle>
    <div>
      <div>Login</div>
      <div>{{accountDetails.account.login}}</div>
    </div>
    <div>
      <div>Email</div>
      <div>{{accountDetails.account.email}}</div>
    </div>
    <div>
      <div>Status</div>
      <div>{{accountDetails.account.active ? 'Active' : 'Inactive'}} </div>
    </div>
    <mat-card-subtitle>Address</mat-card-subtitle>
    <div>
      <div>City</div>
      <div>{{accountDetails.address.city}}</div>
    </div>
    <div>
      <div>Street</div>
      <div>{{accountDetails.address.street}}</div>
    </div>
    <div>
      <div>House number</div>
      <div>{{accountDetails.address.houseNumber}}</div>
    </div>
    <mat-card-subtitle>Personal data</mat-card-subtitle>
    <div>
      <div>Name</div>
      <div>{{accountDetails.personalData.name}}</div>
    </div>
    <div>
      <div>Surname</div>
      <div>{{accountDetails.personalData.surname}}</div>
    </div>
    <div>
      <div>Birth date</div>
      <div>{{accountDetails.personalData.birthDate}}</div>
    </div>
    <div>
      <div>Roles</div>
      <div>{{accountDetails.roles}}</div>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Toppings</mat-label>
      <mat-select [formControl]="rolesForm" multiple>
        <mat-option *ngFor="let role of rolesAvailable" [value]="role">{{role}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="redirectToPasswordChange()">Change password</button>
      <button mat-raised-button color="primary" (click)="changeRoles()">Change roles</button>
      <button mat-raised-button *ngIf="accountDetails.account.active" color="warn" (click)="changeAccountStatus()">Deactivate</button>
      <button mat-raised-button *ngIf="!accountDetails.account.active" color="primary" (click)="changeAccountStatus()">Activate</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
